extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	section.section.demo_mod
		.demo_in
			.demo_title Examples
			.demo_list
				.demo_item
					.demo_item__title Simple
					<select class="your-element" id='test' name='1132'>
						<option value=0>Ukraine</option>
						<option value=1>Poland</option>
						<option value=2>Germany</option>
						<option value=3>France</option>
						<option value=4>England</option>
					</select>
				.demo_item
					.demo_item__title With search
					<select class="your-element" required="true" data-placeholder='Select country' data-search='true' data-search-placeholder='Search...'>
						<option>Ukraine</option>
						<option>Poland</option>
						<option>Germany</option>
						<option>France</option>
						<option>England</option>
						<option>England</option>
						<option>England</option>
						<option>England</option>
						<option>England</option>
						<option>England</option>
					</select>
				.demo_item
					.demo_item__title Full accessebility
					<select class="your-element" aria-label='Select country' data-aria-message='Selected country:' name='form select'>
						<option data-value=1>Ukraine</option>
						<option value=2>Poland</option>
						<option data-selected='true' data-value='3'>Germany</option>
						<option>France</option>
						<option>England</option>
					</select>
